.faq {
  position: relative;
  background-color: white;
  max-width: 920px;
  padding: 131px 24px 48px 24px;
  border-radius: 24px;
  box-shadow: 0 24px 48px hsla(238, 29%, 16%, 0.47);
  margin: 0 auto;
}

.faq__decorative-img {
  user-select: none;
  pointer-events: none;
  top: -108px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.faq__decorative-img-mobile {
  object-fit: contain;
  height: 180px;
  width: 237px;
}

.faq__decorative-img-bg-pattern-mobile {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 109px;
  width: 238px;
}

.faq__decorative-img-desktop-wrapper {
  display: none;
}

.faq__header {
  font-size: 32px;
  letter-spacing: -0.3333333333333333px;
  color: var(--text-color-primary);
  text-align: center;
  margin-bottom: 16px;
}

.faq__item {
  padding: 15px 0;
  border-bottom: 1px solid var(--divider-color);
}

.faq__item[open] {
  padding-bottom: 17px;
}
 
.faq__item-question {
  font-size: 13px;
  letter-spacing: 0.08571428571428572px;
  line-height: 1.5385;
  position: relative;
  list-style-type: none;
  margin-left: 1px;
  padding-right: 24px;
  user-select: none;
  cursor: pointer;
}

.faq__item-question::after {
  content: url("../images/icon-arrow-down.svg");
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.15s linear;
}

.faq__item[open] > .faq__item-question::after {
  transform: translateY(-50%) rotate(180deg);
}

.faq__item[open] > .faq__item-question {
  font-weight: var(--text-weight-bold);
  color: var(--text-color-primary);
}

.faq__item-question:hover,
.faq__item-question:focus,
.faq__item[open] > .faq__item-question:hover,
.faq__item[open] > .faq__item-question:focus {
  color: var(--text-color-primary-secondary);
}

.faq__item-answer {
  letter-spacing: 0.10433689503456946px;
  line-height: 1.525;
  color: var(--text-color-neutral-secondary);
  padding-right: 24px;
  height: 0;
  margin-top: 8px;
  overflow: hidden;
  transition: height 0.15s ease-in-out;
}

.faq__item-answer::first-line {
  letter-spacing: 0.023255813953488372px;
}

@media (min-width: 989px) {
  .faq {
    right: -22px;
    padding: 64px 94px 83px 94px;
  }

  .faq > div:nth-child(2) {
    max-width: 351px;
    margin-left: auto;
  }

  .faq__decorative-img {
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
  }

  .faq__decorative-img-mobile-wrapper {
    display: none;
  }

  .faq__decorative-img-desktop-wrapper {
    display: block;
  }

  .faq__decorative-img-desktop-wrapper * {
    position: absolute;
  }

  .faq__decorative-img-desktop-inner-wrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .faq__decorative-img-desktop {
    object-fit: cover;
    height: 359px;
    width: auto;
    left: -84px;
    top: 70px;
    z-index: 2;
  }

  .faq__decorative-img-bg-pattern-desktop {
    height: 945px;
    width: 966px;
    object-fit: cover;
    top: -295px;
    left: -577px;
  }

  .faq__decorative-img-box-desktop {
    object-fit: cover;
    height: 186px;
    width: 185px;
    left: -91px;
    top: 204px;
    z-index: 3;
  }

  .faq__header {
    text-align: left;
    margin-bottom: 22px;
  }

  .faq__item {
    padding: 14.23px 0;
  }

  .faq__item-question {
    font-size: 14px;
    padding-right: 32px;
  }

  .faq__item-question::after {
    margin-right: 16px;
  }

  .faq__item-answer {
    margin-top: 7.6333px;
  }
}