.faq {
  position: relative;
  background-color: white;
  max-width: 76.66666666666667rem;
  padding: 10.91666666666667rem 2rem 4rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 4rem hsla(238, 29%, 16%, 0.47);
  margin: 0 auto;
}

.faq__decorative-img {
  user-select: none;
  pointer-events: none;
  top: -9rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.faq__decorative-img-mobile {
  object-fit: contain;
  height: 15rem;
  width: 19.75rem;
}

.faq__decorative-img-bg-pattern-mobile {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 9.083333333333333rem;
  width: 19.83333333333333rem;
}

.faq__decorative-img-desktop-wrapper {
  display: none;
}

.faq__header {
  font-size: 2.666666666666667rem;
  letter-spacing: -0.0277777777777778rem;
  color: var(--text-color-primary);
  text-align: center;
  margin-bottom: 1.333333333333333rem;
}

.faq__item {
  padding: 1.25rem 0;
  border-bottom: 0.0833333333333333rem solid var(--divider-color);
}

.faq__item[open] {
  padding-bottom: 1.5rem;
}

.faq > div:nth-child(2) {
  max-width: 29.25rem;
  margin: 0 auto;
}
 
.faq__item-question {
  font-size: 1.083333333333333rem;
  letter-spacing: 0.007142857142857143rem;
  line-height: 1.5385;
  position: relative;
  list-style-type: none;
  margin-left: 0.0833333333333333rem;
  padding-right: 2rem;
  user-select: none;
  cursor: pointer;
}

.faq__item-question::marker,
.faq__item-question::-webkit-details-marker {
  display: none;
  content: '';
}

.faq__item-question::after {
  content: url("../images/icon-arrow-down.svg");
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.15s linear;
}

.faq__item[open] > .faq__item-question::after {
  transform: translateY(-50%) rotate(180deg);
}

.faq__item[open] > .faq__item-question {
  font-weight: var(--text-weight-bold);
  color: var(--text-color-primary);
}

.faq__item-question:hover,
.faq__item-question:focus-visible,
.faq__item[open] > .faq__item-question:hover,
.faq__item[open] > .faq__item-question:focus-visible {
  color: var(--text-color-primary-secondary);
}

.faq__item-answer {
  letter-spacing: 0.008694741252880788rem;
  line-height: 1.5;
  color: var(--text-color-neutral-secondary);
  padding-right: 2rem;
  height: 0;
  margin-top: 0.6666666666666667rem;
  overflow: hidden;
  transition: height 0.15s ease-in-out;
}

.faq__item-answer::first-line {
  letter-spacing: 0.001937984496124031rem;
}

@media (min-width: 790px) {
  .faq {
    padding: 5.333333333333333rem 4rem 6.916666666666667rem 4rem;
  }

  .faq > div:nth-child(2) {
    margin:  0 0 0 auto;
  }

  .faq__decorative-img {
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
  }

  .faq__decorative-img-mobile-wrapper {
    display: none;
  }

  .faq__decorative-img-desktop-wrapper {
    display: block;
  }

  .faq__decorative-img-desktop-wrapper * {
    position: absolute;
  }

  .faq__decorative-img-desktop-inner-wrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .faq__decorative-img-desktop {
    object-fit: cover;
    height: 23.33333333333333rem;
    width: auto;
    left: -4.583333333333333rem;
    top: 5.833333333333333rem;
    z-index: 2;
    transition: all 0.15s ease-in-out;
  }

  .faq__decorative-img-bg-pattern-desktop {
    object-fit: cover;
    height: 73.25rem;
    width: 75rem;
    top: -24.58333333333333rem;
    left: -48.08333333333333rem;
    transition: all 0.15s ease-in-out;
  }

  .faq__decorative-img-box-desktop {
    object-fit: cover;
    height: 11.33333333333333rem;
    width: 10.75rem;
    left: -4.166666666666667rem;
    top: 14.58333333333333rem;
    z-index: 3;
    transition: all 0.15s ease-in-out;
  }

  .faq__item[open] {
    padding-bottom: 1.416666666666667rem;
  }

  .faq__header {
    text-align: left;
    margin-bottom: 1.833333333333333rem;
  }

  .faq__item-answer::first-line {
    letter-spacing: 0.0043859649122807015rem;
  }
}

@media (min-width: 860px) {
  .faq__decorative-img-desktop {
    height: 27.5rem;
  }

  .faq__decorative-img-bg-pattern-desktop {
    height: 77.41666666666667rem;
    width: 79.16666666666667rem;
  }

  .faq__decorative-img-box-desktop {
    height: 11.66666666666667rem;
    width: 10.33333333333333rem;
    left: -3.75rem;
    top: 17.91666666666667rem;
  }
}

@media (min-width: 920px) {
  .faq__decorative-img-desktop {
    height: 29.91666666666667rem;
    left: -4.75rem;
  }

  .faq__decorative-img-bg-pattern-desktop {
    height: 78.75rem;
    width: 80.5rem;
    left: -45.83333333333333rem;
  }

  .faq__decorative-img-box-desktop {
    height: 15.5rem;
    width: 15.41666666666667rem;
    left: -5.5rem;
    top: 17rem;
  }
}

@media (min-width: 1024px) {
  .faq {
    right: -1.75rem;
    padding-right: 7.833333333333333rem;
    padding-left: 7.833333333333333rem;
  }

  .faq__decorative-img-desktop {
    left: -7rem;
  }

  .faq__decorative-img-bg-pattern-desktop {
    left: -48.08333333333333rem;
  }

  .faq__decorative-img-box-desktop {
    left: -7.5rem;
  }

  .faq__item {
    padding: 1.185833333333333rem 0;
  }

  .faq__item-question {
    font-size: 1.166666666666667rem;
    padding-right: 2.666666666666667rem;
  }

  .faq__item-question::after {
    margin-right: 1.333333333333333rem;
  }

  .faq__item-answer {
    margin-top: 0.6361083333333333rem;
  }
}